[Desktop Entry]
Name=Lock screen
Name[pl]=Zablokuj ekran
Comment=Enable screensaver and lock screen
Comment[pl]=Włącza wygaszacz i blokuje ekran
Exec=xscreensaver-command -lock
Terminal=false
Type=Application
Categories=Application;Settings;
OnlyShowIn=Old;
Encoding=UTF-8
# vi: encoding=utf-8
