[Desktop Entry]
Encoding=UTF-8
Name=Screensaver
Name[da]=Pauseskærm
Name[ca]=Protector de pantalla
Name[de]=Bildschirmschoner
Name[es]=Propiedades Salvapantallas
Name[et]=Ekraanisäästja
Name[fi]=Ruudunsäästäjä
Name[fr]=Propriétés Économiseur d'écran
Name[hu]=Képernyővédő
Name[it]=Salvaschermo
Name[ja]=スクリーンセーバー
Name[ko]=화면 보호기
Name[no]=Skjermsparer
Name[pl]=Wygaszacz ekranu
Name[pt]=Propriedades da protecção de ecrã
Name[pt_BR]=Propriedades da proteção de tela
Name[ru]=Хранитель экрана
Name[sv]=Skärmsläckare
Name[wa]=Spårgneu di waitroûle
Comment=Configure the settings of the screensaver.
Comment[da]=Indstil din pauseskærm.
Comment[ca]=Configurar el protector de pantalla.
Comment[de]=Bildschirmschoner einrichten
Comment[es]=Configurar el salvapantalla
Comment[et]=Ekraanisäästja häälestus
Comment[fi]=Aseta ruudunsäästäjän asetukset.
Comment[fr]=Configurer l'économiseur d'écran
Comment[hu]=Képernyővédő beállítások
Comment[it]=Impostazioni del salvaschermo
Comment[ja]=スクリーンセーバーの設定
Comment[ko]=화면 보호기 설정
Comment[no]=Endre innstillingene for skjermspareren
Comment[pl]=Konfiguracja wygaszacza ekranu
Comment[pt]=Configura as opções da protecção de ecrã.
Comment[pt_BR]=Configura as opções da protecção de ecrã.
Comment[ru]=Настройка хранителя экрана.
Comment[sv]=Ändra inställningar för skärmsläckare
Comment[wa]=Apontiaedje do spårgneu di waitroûle
Exec=/usr/X11R6/bin/xscreensaver-demo
Terminal=false
Type=Application
# vi: encoding=utf-8
