[Desktop Entry]
Name=Lock screen
Name[pl]=Zablokuj ekran
Comment=Enable screensaver and lock screen.
Comment[pl]=W³±cza wygaszacz i blokuje ekran
Exec=/usr/X11R6/bin/xscreensaver-command -lock
Terminal=0
Type=Application
