[Desktop Entry]
Name=Lock screen
Name[pl]=Zablokuj ekran
Comment=Enable screensaver and lock screen
Comment[pl]=Włącza wygaszacz i blokuje ekran
Exec=xscreensaver-command -lock
Icon=xscreensaver
Terminal=false
Type=Application
Categories=System;
NotShowIn=GNOME;
# vi: encoding=utf-8
